# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [546]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [547]:
df = (pd.read_csv('Data\\Students_info_0.csv')).merge((pd.read_csv('Data\\Students_marks_0.csv')), on='index')
for i in range(1, 10):
    df1 = (pd.read_csv(f'Data\\Students_info_{i}.csv')).merge((pd.read_csv(f'Data\\Students_marks_{i}.csv')), on='index')
    df = pd.concat([df, df1])
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [548]:
df = df.drop('index', axis = 1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [549]:
print(df.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [550]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [551]:
df.isna().values.any()
#df.info()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [552]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [553]:
df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [554]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [555]:
df = df.rename(columns={"parental level of education":"education", "test preparation course":"test preparation"})
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [556]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [557]:
print(sum(df['math score'] >= passmark) / len(df))
print(sum((df['test preparation'] == 'completed') & (df['math score'] >= passmark)) / len(df))
print(sum((df['test preparation'] != 'completed') & (df['math score'] < passmark) & (df['gender'] == 'female')) / len(df[df['gender'] == 'female']))

0.865
0.33
0.13513513513513514

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [566]:
%%timeit
df.groupby('race/ethnicity')['reading score'].mean()

343 µs ± 29.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [567]:
print(df.groupby('race/ethnicity')['reading score'].mean())

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [569]:
%%timeit
(df.groupby('education')['writing score'].min())

365 µs ± 53.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [568]:
print((df.groupby('education')['writing score'].min()))

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [570]:
%%timeit
keys = set(df['race/ethnicity'])
g = dict.fromkeys(keys)
for i in g.keys():
    g[i] = [0, 0]
for i in df.values:
    g[i[1]][0] = g.get(i[1])[0] + 1
    g[i[1]][1] = g.get(i[1])[1] + i[-2]
for i in g.keys():
    g[i] = g[i][1] / g[i][0]

776 µs ± 33.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [571]:
print(g)

{'group B': 67.35263157894737, 'group A': 64.67415730337079, 'group E': 73.02857142857142, 'group C': 69.10344827586206, 'group D': 70.03053435114504}

In [572]:
%%timeit
keys = set(df['education'])
g = dict.fromkeys(keys)
for i in df.values:
    if g.get(i[2]) == None:
        g[i[2]] = i[-1]
    elif i[-1] <= g.get(i[2]):
        g[i[2]] = i[-1]

610 µs ± 62.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [573]:
print(g)

{'group B': 67.35263157894737, 'group A': 64.67415730337079, 'group E': 73.02857142857142, 'group C': 69.10344827586206, 'group D': 70.03053435114504}

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [462]:
import numpy as np
pd.pivot_table(df, values = ['math score', 'reading score', 'writing score'],index = ['gender', 'education'], aggfunc=np.mean)

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [492]:
df['Math_PassStatus'] = 'P'
df['Math_PassStatus'].loc[df['math score'] < passmark] = 'F'

print(len(df[df['Math_PassStatus'] == 'P']))
print(len(df[df['Math_PassStatus'] == 'F']))

865
135

In [495]:
df['Writing_PassStatus'] = 'P'
df['Writing_PassStatus'].loc[df['writing score'] < passmark] = 'F'

print(len(df[df['Writing_PassStatus'] == 'P']))
print(len(df[df['Writing_PassStatus'] == 'F']))

886
114

In [496]:
df['Reading_PassStatus'] = 'P'
df['Reading_PassStatus'].loc[df['reading score'] < passmark] = 'F'

print(len(df[df['Reading_PassStatus'] == 'P']))
print(len(df[df['Reading_PassStatus'] == 'F']))

910
90

D:\programs\anaconda3\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [507]:
df['OverAll_PassStatus'] = 'F'
df['OverAll_PassStatus'].loc[(df['Writing_PassStatus'] == 'P') & (df['Reading_PassStatus'] == 'P') & (df['Math_PassStatus'] == 'P')] = 'P'
len(df[df['OverAll_PassStatus'] == 'P'])

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [574]:
def GetGrade(average_mark):
    if average_mark > 90:
        return 'A'
    elif average_mark > 80:
        return 'B'
    elif average_mark > 70:
        return 'C'
    elif average_mark > 60:
        return 'D'
    elif average_mark >= 50:
        return 'E'
    else:
        return 'F'
df['Grade'] = (df[['math score', 'reading score', 'writing score']].mean(axis=1)).apply(GetGrade)
print(df.Grade.value_counts())

D    260
C    253
E    190
B    144
F    103
A     50
Name: Grade, dtype: int64